<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me !</h2>
                <hr class="light">
                <p class="text-strong">I study <span class="highlight">Networks and Telecommunications</span> in France, Montbéliard, where I specialize in <span class="highlight2">Cybersecurity</span>. I am currently on a <strong>work study program</strong> at the <span class="highlight3">Palace of Versailles</span> in the IT department.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
