<nav id="mainNav" class="navbar navbar-default navbar-fixed-top brand-bg">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% assign t = site.data.i18n[page.lang] | default: site.data.i18n.en %}
            <span class="navbar-brand">{{ t.brand }}</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% assign t = site.data.i18n[page.lang] | default: site.data.i18n.en %}
                {% if page.lang == 'fr' %}
                  {% assign home_url = '/fr/' %}
                {% else %}
                  {% assign home_url = '/' %}
                {% endif %}
                <li>
                    <a class="page-scroll" href="{{ home_url | relative_url }}#about">{{ t.nav.about }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ home_url | relative_url }}#services">{{ t.nav.services }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ home_url | relative_url }}#portfolio">{{ t.nav.portfolio }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ home_url | relative_url }}#contact">{{ t.nav.contact }}</a>
                </li>
                {% include lang-switcher.html %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
